

<th:block th:insert="frontend/fronthead.html" />
  <main>

    <!--
      - #HERO SECTION
    -->

    <div class="hero">

      <div class="container">

        <div class="left">

          <h1 class="h1">
            Hi, I'm <b>Asutosh&nbsp;Adhikari</b>.
            <br>Java Web Developer
          </h1>

          <p class="h3">
            Specialized in <abbr title="Accessibility">Java</abbr>
            and Spring Boot
          </p>

          <div class="btn-group">
            <a href="/contactus" class="btn btn-primary">Contact Me</a>
            <a href="https://www.linkedin.com/in/asutoshadhikari/" target=”_blank” class="btn btn-secondary">About Me</a>
          </div>

        </div>

        <div class="right">

          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="images/mainauthor.jpg" alt="Julia Walker" class="hero-img">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
          </div>

        </div>

      </div>

    </div>
